html{
    background-color: #fff;
}
.error{
    font-size: 14rem;
    color: #b71c1c ;
}

.first-container>p{
    font-size: xx-large;
}


@media only screen and (max-width: 320px){
    html{
        min-width: 0px;
    }
    
    .error{
        font-size: 5rem;
        color: #b71c1c ;
    }
    
    .first-container>p{
        font-size: initial;
    }

}
