.video-title{
    position: relative;
    top:-60px;
    height: 60px;
    left: 0px;
    width: 600px;
    color:whitesmoke;
    font-size: 30px;
    background-color: rgba(0,0,0,0.6);
}

.rect-video{
    margin: 0px;
    position: relative;
}

video{
    position: relative;
    margin: 0px;
    background-color: black;
}

.rect-container{
    background-color: black;
    margin: 0px;
    width: 600px;
    position: absolute;
    top: 50px;
    left: 50px;
    
-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 1);
box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 1);
}


.container-bottom{
    position: relative;
    margin-top: -60px;
    height: 80px;
    background-color: whitesmoke;
}

.card{
    width: 300px;
    max-height: 500px;
    overflow: visible;
    margin: 10px 5px 5px 10px;
}
.card-image{
    overflow: hidden;
    max-height: 380px;
}

.card-content{
    margin-top: -10px;
}

.dot{
    margin-top: 10px;
}

.btn-floating{
	position: absolute;
}

video{
	width: 100%;
}

#index_container{
	background-color: #212121;
	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}
#index_container .btn{
    padding: 0rem;
}

 a i{
    padding-top: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.1rem;

}

.giornoData:first-letter{
    text-transform: capitalize;
}

.giornoData{
    border-bottom: 1px solid #CCC; 
    line-height:0.1em; 
    margin:10px 0 20px;
}
.giornoData span{
background-color: white;
padding-right: 5px;
padding-left: 5px;
margin-left: 8px;
}
.orarioSpett{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.orarioSpett a{
    margin-top: -10px;
}

.crono{
    transform: translateY(3px);
    padding-left: 5px;
    padding-right: 5px;
}

.off{
    display: none;
}
.modal .modal-content{
    background-color: #2B2D42;
    color: #fff;
}

.tabs .tab a{
    color: #e65100;
}