html{
	background-color: #2B2D42;
        min-width: 480px;
}

#index_container{
	height: 100%;
	background-color: #212121;
	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
}

nav{
	background-color: inherit;
}

.side-nav{
	background-color: #2B2D42;	
}
.side-nav a{
	color: #fff;
}

#nav_logo{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	height: 55px;
	width: 290px;
}

footer.page-footer{
	background-color: #212121;
}
.off{
    display: none;
}

.on{
    display: list-item;
}