/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-feb-2016, 12.22.12
    Author     : Buffin
*/

main{
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    color: whitesmoke;
}

h3{
    color:orange;
}