.container_profilo{
    position:relative;
    margin-top: 100px;
    
    text-align: center;
}

.container_profilo table{
    width: 50%;
    margin-left: 25%;
    
    margin-bottom: 30px;
}

.container_profilo h3{
    color: #26a69a;
}

.container_profilo td{
    color: whitesmoke;
}
.container_profilo td:first-child{
    color: orange;
}

.container_profilo h4{
    color:#26a69a;
}

#btn_cambiaPassword{
    margin-left: -10px;
}

@media only screen and (max-width: 320px){
    html{
        min-width: 0px;
    }

}