html{
    background-color: #fff;
}

section{
    margin-top: 80px;
}
section>p{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

#btn_send{
    margin-bottom: 0px;
    margin-top: 23px;
}

@media only screen and (max-width: 320px){
    html{
        min-width: 0px;
    }
    
    section>p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

}