html{
    height: 100%;
    background-color: #2B2D42;
}
#index_container{
    color: #fff;
    text-align: justify;
    width: 90%;
    margin-top: 100px;
    /* height: 100%; */
    border-radius: 0px;
    
}

.chip{
    margin-top: 10px;
    margin-left: 8px;
}



@media only screen and (max-width: 799px){
    div.card-image img{
        max-width: 300px;
        min-height:200px;
}
}

/* Portrait and Landscape */
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    div.card-image img{
        max-width: 300px;
        min-height:200px;
    }
    
    /*footer{
        position: absolute;
        bottom:0px;
    }*/
}

@media only screen and (min-width: 1280px){
    div.card-image img{
        max-width: 400px;
        min-height:200px;
    }
    
    /*footer{
        position: absolute;
        bottom:0px;
    }*/
}

